@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
    @apply text-blue-500 cursor-default block py-2 px-3 ;
}

.link {
    @apply hover:text-blue-700 cursor-pointer block py-2 px-3 text-white;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

